# Data 2b Exploratory Data Analysis

## Data Understanding

This data illustrates 2013 ocean economy employment (number of jobs) for Northeast coastal counties, which comprise of 33 counties from Maine to New York. This data is relatively simple and is mainly numerical. I will use this dataset to illlustrate the number of jobs that come with the ocean economy sector.

## Descriptive Statistics

In [1]:
import pandas as pd
data2b = pd.read_csv(
    '/Users/kendallgilbert/dsan-5000-project-kendallgilbert180/dsan-website/5000-website/data/01-modified-data/cleandata2b.csv')
# Summary Statistics
data2b[["Total Employment"]].describe()

       Total Employment
count         33.000000
mean        8191.757576
std         7154.331795
min          136.000000
25%         2148.000000
50%         6566.000000
75%        12858.000000
max        31569.000000

This table shows the summary statistics for the "Total Employment Column." This table gives us some crucial infromation. First, we can see that on average, 8,191 people per county work in the ocean sector. In fact, in one county, the total number of employment reaches over 31,000! These summary statistics help us understand how many people one county can employ just when it comes to the ocean.

## Data Visualization

## Correlation Analysis

## Identifying Outliers

## Methods and Findings