In [1]:
import pandas as pd
data1a = pd.read_csv('/Users/kendallgilbert/dsan-5000-project-kendallgilbert180/dsan-website/5000-website/data/01-modified-data/cleandata2a.csv')
data1a[["Attendance"]].describe()

         Attendance
count  5.051000e+03
mean   1.560651e+04
std    4.784066e+04
min    0.000000e+00
25%    3.500000e+02
50%    1.600000e+03
75%    7.800000e+03
max    1.520000e+06

In [2]:
average = data1a.groupby("Month")["Attendance"].mean()
print(average)

Month
August       14959.653898
July         21816.845326
June         11503.996528
May           8720.808824
September    14255.645604
Name: Attendance, dtype: float64