In [28]:
#Importing Data into Python Environment

#Importing / Cleaning Marine Pollution Act Data
import pandas as pd

#Importing in Data
mpa = pd.read_csv("/Users/kendallgilbert/dsan-5000-project-kendallgilbert180/dsan-website/5000-website/data/00-raw-data/mpa.csv")

#Fixing Headers
new_header = mpa.iloc[0] #grab the first row for the header
mpa = mpa[1:] #take the data less the header row
mpa.columns = new_header #set the header row as the df header
mpa = mpa.rename(columns={'Year': 'Country', 2000.0: 2000, 2005.0: 2005, 2010.0: 2010, 2011.0: 2011, 2012.0: 2012, 2013.0: 2013, 2014.0: 2014, 2015.0: 2015,2016.0: 2016,2017.0: 2017,
                          2018.0: 2018,2019.0: 2019,2020.0: 2020,})

df_stripped = mpa.applymap(lambda x: x.strip() if isinstance(x, str) else x)
print(df_stripped)

melted_df = pd.melt(mpa, id_vars=['Country'], var_name='Year', value_name='Value')

# Convert the "Year" column to a string and then combine "Country" and "Year" into "Country_Year"
melted_df['Country_Year'] = melted_df['Country'] + '_' + melted_df['Year'].astype(str)

# Drop the original "Country" and "Year" columns
melted_df = melted_df.drop(columns=['Country', 'Year'])

melted_df_l = list(melted_df.Country_Year.value_counts())
melted_df_l

0                               Country       2000      2001      2002  \
1                             Australia  376896.50  377198.5  399905.8
2                               Belgium      55.25     55.25     55.25
3                                Canada   24661.75  24718.75   24918.5
4                                 Chile    8849.75   8849.75   8849.75
5                              Colombia   29421.75  29421.75  29421.75
..                                  ...        ...       ...       ...
128                   Wallis and Futuna       0.00         0         0
129                        OECD America  264910.80    264995    265537
130                   OECD Asia Oceania  682471.00  766921.8  789652.8
131  Areas beyond national jurisdiction       0.00        ..        ..
132                                 NaN        NaN       NaN       NaN

0        2003      2004       2005      2006      2007      2008  ...  \
1      399923  402051.8  406363.80  412437.8  417115.8  417560.3  ...
2       58.25     58.25     350.25    350.25    350.25    350.25  ...
3       28145   30039.5   32196.50     32534  32740.75  41618.75  ...
4     8868.75   10068.5   10177.00   10218.5  10219.75  10219.75  ...
5    29421.75  29421.75   60890.50   60906.5   60906.5   60910.5  ...
..        ...       ...        ...       ...       ...       ...  ...
128         0         0       0.00         0         0         0  ...
129    268851  281953.5  322805.30   1818255   1822393   1833613  ...
130  790187.3  792403.5  796863.50  803005.8   1924599   1925414  ...
131        ..        ..   22761.99        ..        ..        ..  ...
132       NaN       NaN        NaN       NaN       NaN       NaN  ...

0          2013        2014        2015        2016        2017        2018  \
1     830412.00   830600.80   830606.00   847506.80   855714.80  3030763.00
2       1248.25     1249.75     1249.75     1249.75     1249.75     1249.75
3      52431.00    52434.50    53968.75    56240.50   168553.00   179983.50
4     160674.50   160675.30   160896.30   461388.80   486509.30  1340514.00
5      63135.50    63829.00    63829.00    63832.75    94753.50    95429.75
..          ...         ...         ...         ...         ...         ...
128        0.00        0.00        0.00        0.00        0.00        0.00
129  2005840.00  2006540.00  2008303.00  2846838.00  3157774.00  4023892.00
130  2371645.00  2374724.00  2374849.00  2391879.00  2400109.00  4576173.00
131   535922.90   537198.60   537290.00   650146.10  1056335.00  1056617.00
132         NaN         NaN         NaN         NaN         NaN         NaN

0          2019        2020      2021      2022
1    3036163.00  3036163.00   3036163   3036163
2       1249.75     1312.50    1312.5    1312.5
3     508196.30   520922.00    520923    520923
4    1509188.00  1509192.00   1509216   1510300
5      95429.75    95429.75  95429.75  95429.75
..          ...         ...       ...       ...
128        0.00        0.00         0         0
129  4520824.00  4534215.00   4534240   4643005
130  4581647.00  4809421.00   4809421   4809421
131  1079974.00  1079974.00        ..        ..
132         NaN         NaN       NaN       NaN

[132 rows x 24 columns]

[1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 ...]

In [3]:
#%%
a_p = pd.read_csv("/Users/kendallgilbert/dsan-5000-project-kendallgilbert180/dsan-website/5000-website/data/00-raw-data/aqua_production.csv")
a_p.tail()
new_header_2 = a_p.iloc[0] #grab the first row for the header
a_p = a_p[1:] #take the data less the header row
a_p.columns = new_header_2 #set the header row as the df header
a_p = a_p.rename(columns={'Year': 'Country', 2000.0: 2000, 2001.0: 2001, 2002.0: 2002, 2003.0: 2003, 2004.0: 2004, 2005.0: 2005, 2006.0: 2006,2007.0: 2007,2008.0: 2008,
                          2009.0: 2009,2010.0: 2010,2011.0: 2011,2005.0: 2005, 2010.0: 2010, 2011.0: 2011, 2012.0: 2012, 2013.0: 2013, 2014.0: 2014, 2015.0: 2015,2016.0: 2016,2017.0: 2017,
                          2018.0: 2018,2019.0: 2019,2020.0: 2020,})

df_stripped = a_p.applymap(lambda x: x.strip() if isinstance(x, str) else x)

melted_df_2 = pd.melt(a_p, id_vars=['Country'], var_name='Year', value_name='Value')
melted_df_2.head

melted_df_2.columns = melted_df_2.columns.str.strip()


# Convert the "Year" column to a string and then combine "Country" and "Year" into "Country_Year"
melted_df_2['Country_Year'] = melted_df_2['Country'] + '_' + melted_df_2['Year'].astype(str)
melted_df_2 = melted_df_2.drop(columns=['Country', 'Year'])

melted_df_2.head

<bound method NDFrame.head of         Value     Country_Year
0       485.1   Australia_2000
1        15.5     Austria_2000
2        5.65     Belgium_2000
3      605.08      Canada_2000
4     2124.58       Chile_2000
...       ...              ...
1129  1895.16    Thailand_2020
1130  8788.29    Viet Nam_2020
1131      NaN              NaN
1132      NaN              NaN
1133      NaN              NaN

[1134 rows x 2 columns]>

In [4]:
inventions = pd.read_csv("/Users/kendallgilbert/dsan-5000-project-kendallgilbert180/dsan-website/5000-website/data/00-raw-data/ocean_related_inventions.csv")
new_header_3 = inventions.iloc[0] #grab the first row for the header
inventions = inventions[1:] #take the data less the header row
inventions.columns = new_header_3 #set the header row as the df header

inventions.columns

Index(['Year', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007',
       '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016',
       '2017', '2018', '2019'],
      dtype='object', name=0)

In [5]:
inventions = inventions.rename(columns={'Year': 'Country'})

df_stripped = inventions.applymap(lambda x: x.strip() if isinstance(x, str) else x)

melted_df_3 = pd.melt(inventions, id_vars=['Country'], var_name='Year', value_name='Value')
melted_df_3.head

# Convert the "Year" column to a string and then combine "Country" and "Year" into "Country_Year"
melted_df_3['Country_Year'] = melted_df_3['Country'] + '_' + melted_df_3['Year'].astype(str)
melted_df_3 = melted_df_3.drop(columns=['Country', 'Year'])

In [6]:
instruments = pd.read_csv("/Users/kendallgilbert/dsan-5000-project-kendallgilbert180/dsan-website/5000-website/data/00-raw-data/policy_instruments.csv")
new_header_4 = instruments.iloc[0] #grab the first row for the header
instruments = instruments[1:] #take the data less the header row
instruments.columns = new_header_4 #set the header row as the df header
instruments.columns

instruments = instruments.rename(columns={'Year': 'Country', 2000.0: 2000, 2001.0: 2001, 2002.0: 2002, 2003.0: 2003, 2004.0: 2004, 2005.0: 2005, 2006.0: 2006,2007.0: 2007,2008.0: 2008,
                          2009.0: 2009,2010.0: 2010,2011.0: 2011,2005.0: 2005, 2010.0: 2010, 2011.0: 2011, 2012.0: 2012, 2013.0: 2013, 2014.0: 2014, 2015.0: 2015,2016.0: 2016,2017.0: 2017,
                          2018.0: 2018,2019.0: 2019,2020.0: 2020, 2021.0:2021, '2022': 2022})

instruments.columns

Index(['Country',      2000,      2001,      2002,      2003,      2004,
            2005,      2006,      2007,      2008,      2009,      2010,
            2011,      2012,      2013,      2014,      2015,      2016,
            2017,      2018,      2019,      2020,      2021,      2022],
      dtype='object', name=0)

In [7]:
instruments = instruments.rename(columns={'Year': 'Country'})

df_stripped = instruments.applymap(lambda x: x.strip() if isinstance(x, str) else x)

melted_df_4 = pd.melt(instruments, id_vars=['Country'], var_name='Year', value_name='Value')
melted_df_4.head

# Convert the "Year" column to a string and then combine "Country" and "Year" into "Country_Year"
melted_df_4['Country_Year'] = melted_df_4['Country'] + '_' + melted_df_4['Year'].astype(str)
melted_df_4 = melted_df_4.drop(columns=['Country', 'Year'])

instruments = instruments.rename(columns={'Value': 'Instrument Number'})


melted_df_4.head

<bound method NDFrame.head of      Value            Country_Year
0      5.0          Australia_2000
1      1.0            Austria_2000
2      0.0            Belgium_2000
3      8.0             Canada_2000
4      4.0              Chile_2000
...    ...                     ...
3192    45       OECD America_2022
3193    19  OECD Asia Oceania_2022
3194   NaN                     NaN
3195   NaN                     NaN
3196   NaN                     NaN

[3197 rows x 2 columns]>

In [8]:
fishing = pd.read_csv("/Users/kendallgilbert/dsan-5000-project-kendallgilbert180/dsan-website/5000-website/data/00-raw-data/fishing_exports.csv")
new_header_5 = fishing.iloc[0] #grab the first row for the header
fishing = fishing[1:] #take the data less the header row
fishing.columns = new_header_5 #set the header row as the df header
fishing.columns

fishing = fishing.rename(columns={'Year': 'Country', 2000.0: 2000, 2001.0: 2001, 2002.0: 2002, 2003.0: 2003, 2004.0: 2004, 2005.0: 2005, 2006.0: 2006,2007.0: 2007,2008.0: 2008,
                          2009.0: 2009,2010.0: 2010,2011.0: 2011,2005.0: 2005, 2010.0: 2010, 2011.0: 2011, 2012.0: 2012, 2013.0: 2013, 2014.0: 2014, 2015.0: 2015,2016.0: 2016,2017.0: 2017,
                          2018.0: 2018,2019.0: 2019,2020.0: 2020, 2021.0:2021, '2022': 2022})


fishing.columns

Index(['Country',      2000,      2001,      2002,      2003,      2004,
            2005,      2006,      2007,      2008,      2009,      2010,
            2011,      2012,      2013,      2014,      2015,      2016,
            2017,      2018,      2019,      2020],
      dtype='object', name=0)

In [9]:
fishing = fishing.rename(columns={'Year': 'Country'})

df_stripped = fishing.applymap(lambda x: x.strip() if isinstance(x, str) else x)

melted_df_5 = pd.melt(fishing, id_vars=['Country'], var_name='Year', value_name='Value')
melted_df_5.head

# Convert the "Year" column to a string and then combine "Country" and "Year" into "Country_Year"
melted_df_5['Country_Year'] = melted_df_5['Country'] + '_' + melted_df_5['Year'].astype(str)
melted_df_5 = melted_df_5.drop(columns=['Country', 'Year'])

melted_df_5.head

<bound method NDFrame.head of         Value           Country_Year
0     1963.38         Australia_2000
1       14.78           Austria_2000
2      739.13           Belgium_2000
3     4431.00            Canada_2000
4     3118.12             Chile_2000
...       ...                    ...
1066   827.02       Philippines_2020
1067  5191.08            Russia_2020
1068  1387.52    Chinese Taipei_2020
1069  4960.20          Thailand_2020
1070  7958.36          Viet Nam_2020

[1071 rows x 2 columns]>

In [14]:
rd = pd.read_csv("/Users/kendallgilbert/dsan-5000-project-kendallgilbert180/dsan-website/5000-website/data/00-raw-data/rd.csv")
new_header_6 = rd.iloc[0] #grab the first row for the header
rd = rd[1:] #take the data less the header row
rd.columns = new_header_6 #set the header row as the df header
rd = rd.rename(columns={'Year': 'Country', '2000': 2000,'2001': 2001, '2002': 2002, '2003': 2003, '2004': 2004, '2005': 2005, '2006': 2006,
                        '2007': 2007,'2008': 2008,'2009': 2009, '2010': 2010, '2011': 2011, '2012': 2012, '2013': 2013, '2014': 2014,
                        '2015': 2015, '2016': 2016, '2017': 2017, '2018': 2018, '2019': 2019,'2020': 2020,'2021': 2021})

In [15]:
rd = rd.rename(columns={'Year': 'Country'})

df_stripped = rd.applymap(lambda x: x.strip() if isinstance(x, str) else x)

melted_df_6 = pd.melt(rd, id_vars=['Country'], var_name='Year', value_name='Value')
melted_df_6.head

# Convert the "Year" column to a string and then combine "Country" and "Year" into "Country_Year"
melted_df_6['Country_Year'] = melted_df_6['Country'] + '_' + melted_df_6['Year'].astype(str)
melted_df_6 = melted_df_6.drop(columns=['Country', 'Year'])

melted_df_6.head

<bound method NDFrame.head of      Value         Country_Year
0       ..       Australia_2000
1        0         Austria_2000
2       ..         Belgium_2000
3        0          Canada_2000
4       ..  Czech Republic_2000
..     ...                  ...
721   0.96         TÃ¼rkiye_2021
722  30.09  United Kingdom_2021
723      0   United States_2021
724     ..  European Union_2021
725     ..          Brazil_2021

[726 rows x 2 columns]>

In [37]:
merged = pd.merge(melted_df_2, melted_df, on='Country_Year', how='inner')
merged = pd.merge(merged, melted_df_3, on='Country_Year', how='inner')
merged = merged.rename(columns={'Value_x': 'Aqua Production (Millions)','Value_y': 'Marine Protected Area (sqkm)'})

merged = pd.merge(merged, melted_df_4, on='Country_Year', how='inner')
merged = pd.merge(merged, melted_df_5, on='Country_Year', how='inner')
merged = merged.rename(columns={'Value_y': 'Instruments (number)','Value_x': 'Inventions (number)','Value': 'Fishing Exports (Millions)'})

correlation_matrix = merged[["Instruments (number)", "Inventions (number)"]].corr()

ValueError: could not convert string to float: '..'